body{
    background-color: cornsilk;
}
.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

main{
  
  height: 100vh;

}

.bloc{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 80vh;
  width: 50vw;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: antiquewhite;

  border-radius: 30px;
}
.container h2{
  display: inline-block;
  margin: 20px;
  padding: 20px;

  background-color: rgb(247, 223, 188);

  border-radius: 50px;
}

.btn-clear{
  margin: 50px;
  padding: 15px;
  border-radius: 30px;
  background-color: beige;

  text-transform: uppercase;
  font-weight: bold;

  transition: all 0.4s ease-in-out;
}
.btn-clear:hover{
  transform: scale(1.05);
}

.student{
  height: 50px;
  width: 20vw;

  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border: 1px solid black;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  
  
  margin: 5px;
  
  transition: all 0.4s ease-in-out;
}
article p{
  width: 15vw;
  border-radius: 5px;

}
.present{
  background: linear-gradient(to right, green, antiquewhite);
}
.absent{
  background: linear-gradient(to right, crimson, antiquewhite);
}
nav{
  display: flex;
  justify-content: space-between;

}
.navbar{
  display: flex;
  flex-direction: row;
  
  margin: 30px;
  margin-top: 10px;
  height: 100px;
  width: auto;
}

.nav-item{
  
  list-style: none;
  font-size: 20px;
  height: 50px;
  width: 100px;
  margin: 10px;
  padding: 5px;

  border: 2px solid lightsteelblue;
  color: white;
  border-radius: 5px;

  transition: all 0.2s ease-in-out;
}
.nav-item:hover{
  background-color: lightsteelblue;
}

ul{
background: rgba(0, 0, 0, 0.5);

box-shadow: 0px 0px 5px black;
border-radius: 20px;

display: flex;
justify-content: center;
align-items: center;

padding: 5px;
}
ul a{
  text-decoration: none;

}
.selected{
  background-color: lightsteelblue;
  height: 50px;
  width: 100px;

  margin: 10px;
  padding: 5px;

  border: 2px solid lightsteelblue;
  border-radius: 5px;

  transition: all 0.2s ease-in-out;
}
